/.idea
/.vscode
/.DS_Store

/apps/web/.env
/apps/web/vendor
/apps/web/node_modules
/apps/web/public/build
/apps/web/storage/*.key
/apps/web/storage/app/public
/apps/web/storage/framework/cache/data
/apps/web/storage/framework/sessions
/apps/web/storage/framework/testing
/apps/web/storage/framework/views
/apps/web/storage/logs/*.log

/docker-compose.override.yml

/.env

/backups/
/.superpowers/
/docker/observability/node-exporter/textfile_collector/*.prom
